.vendor
  %h2
    = @vendor.name
  .description
    = @vendor.description
  .reviews
    - @vendor.reviews.each do |review|
      .review-inline
        .author
          = review.user.name
        = review.description
    %hr
    - if current_user
      %h3
        Add Your Review
      = render :partial => 'reviews/form'
    - else
      = link_to "Sign in with Facebook to add a review", user_oauth_authorize_url(:facebook)
