<!DOCTYPE html>
%html
  %head
    %title Vendor Guide
    = stylesheet_link_tag 'compiled/screen'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .content
      .messages
        - flash.each do |key, msg|
          %div{'class' => key}
            = msg

      = yield
